.container {
  max-width: 900px;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30px 0 30px;
  border-bottom: 2px solid rgb(115, 115, 115);
  text-decoration: none !important;
}

.backToHome {
  margin: 3rem 0 0;
}

.navbar{
  width: 100%;
  justify-content: start;
}

.nav{
  align-self: center;
  color: #e89e00;
}

.menubtn{
  margin: 5px;
}