.buttons{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.modaltitle{
    margin-top: 0;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white;
    border: 2px solid rgb(198, 198, 198);
    box-shadow: 24;
    border-radius: 5px;
    padding: 20px;

    /* position: 'absolute' as 'absolute',
    top: '50%',
    left: '50%',
    transform: 'translate(-50%, -50%)',
    width: 600,
    bgcolor: 'background.paper',
    border: '2px solid #000',
    boxShadow: 24,
    p: 4, */


}
@media (max-width: 600px) {
    .modal{
        width: 400px ;
    }
  }